:root {
    --font-family: 'Roboto', sans-serif;
}

body, html {
    width: 600px;
    height: 600px;
    margin: 0;
    padding: 0;
    background-color: #fdfdff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

header {
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: #ffe9a6;

    img {
        width: 7rem;
    }
}

p {
    padding: 0rem 1rem;
    font-size: 1rem;
}

#summary {
    padding: 0rem 1rem 0rem 2.5rem;
    font-size: 1rem; 
    overflow-y: auto;
}

footer {
    margin: 0;
    /* position: fixed; */
    padding: 0.5rem 1rem;
    bottom: 0;
    background-color: #ffcd80;
    display: flex;
    justify-content: space-between;

    a, p {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
}

.model-selection {
    /* display: flex; */
    margin-left: 80%;
}