:root {
    --font-family: 'Roboto', sans-serif;
    --base-font-size: 16px;
}

body, html {
    width: 600px; /* Set the width of the HTML document */
    height: 600px; /* Set the height of the HTML document */
    margin: 0;
    padding: 0;
    background-color: #fdfdff;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

header {
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    background-color: #ffe9a6;
}

header img {
    width: 7rem;
}

p {
    padding: 0rem 1rem;
    font-size: 16px; /* Example of changing the size of text */
}

#summary {
    padding: 0rem 1rem 0rem 2.5rem;
    font-size: 16px; /* Example of changing the size of text */
}

footer {
    margin: 0;
    position: fixed;
    bottom: 0;
    background-color: #ffcd80;
}

footer a, footer p {
    margin: 0;
    padding: 0;
    display: inline-block;
}